@mixin flex($flex, $direction, $justify, $align) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i,
svg {
  pointer-events: none;
}
body {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  @include flex(flex, column, space-around, center);
}
header {
  flex: 1 1 30%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
  background-color: rgb(49, 49, 49);
}
main {
  flex: 3 1 60%;
  width: 100%;
  @include flex(flex, column, center, center);
}
@media (min-width: 1200px) {
  main {
    min-height: 70vh;
  }
}
@media (min-width: 1600px) {
  main {
    min-height: 80vh;
  }
}
footer {
  flex: 1 1 15%;
  width: 100%;
  min-height: 10vh;
  font-size: 1rem;
  color: white;
  background-color: rgb(49, 49, 49);
  margin-top: 2rem;
  @include flex(flex, row, center, center);
  div {
    @include flex(flex, row, center, center);
  }
}
#logo {
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem 0;
  color: white;
}
.sequencer {
  width: 90%;
  margin: auto;
  @include flex(flex, column, stretch, center);
}
@media (min-width: 1200px) {
  .sequencer {
    justify-content: space-around;
  }
}
.kick-track,
.snare-track,
.hihat-track {
  @include flex(flex, column, center, center);
}

@media (min-width: 1200px) {
  .kick-track,
  .snare-track,
  .hihat-track {
    flex-wrap: no-wrap;
    @include flex(flex, row, flex-start, center);
    margin: 2rem 0;
  }
}

.pad {
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media (min-width: 540px) {
  .pad {
    width: 4rem;
    height: 4rem;
  }
}
.kick-pad {
  background-color: #afffc0;
  &.active {
    background-color: #53cc6e;
  }
}

.snare-pad {
  background-color: #bde0fe;
  &.active {
    background-color: #5eb3fd;
  }
}

.hihat-pad {
  background-color: #cdb4db;
  &.active {
    background-color: #a375bd;
  }
}

.kick,
.snare,
.hihat {
  @include flex(flex, row, space-between, center);
  flex-wrap: wrap;
  width: 80%;
}
@media (min-width: 377px) {
  .kick,
  .snare,
  .hihat {
    width: 70%;
  }
}
@media (min-width: 430px) {
  .kick,
  .snare,
  .hihat {
    width: 60%;
  }
}
@media (min-width: 540px) {
  .kick,
  .snare,
  .hihat {
    width: 60%;
  }
}
@media (min-width: 740px) {
  .kick,
  .snare,
  .hihat {
    width: 100%;
    flex-wrap: no-wrap;
  }
}
@media (min-width: 1200px) {
  .kick,
  .snare,
  .hihat {
    flex-wrap: no-wrap;
    margin-left: 3rem;
  }
}
.controls {
  @include flex(flex, column, center, center);
  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
  }
  .fa-volume-mute,
  .fa-volume-up {
    font-size: 1rem;
    color: white;
  }
  button {
    padding: 0.5rem;
    border: none;
    background-color: rgb(95, 95, 105);
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 1rem;
  }
  select {
    width: 70%;
    height: 2rem;
    font-family: "Raleway", sans-serif;
  }
}

@media (min-width: 1200px) {
  .controls {
    flex-wrap: no-wrap;
    @include flex(flex, row, space-between, center);
    flex: 1 1 20%;
    h1 {
      margin-right: 1rem;
      width: 5rem;
    }
    .controls-wrapper {
      button {
        flex: 1 1 10rem;
      }
      select {
        flex: 2 1 30rem;
        min-width: 10rem;
      }
    }
  }
}

.controls-wrapper {
  @include flex(flex, row, space-between, center);
  margin: 0.5rem 0;
}
// @media (min-width: 1200px) {
//   .controls-wrapper {
//     width: 10rem;
//   }
// }
.play {
  border: none;
  width: 5rem;
  height: 2rem;
  color: white;
  background-color: rgb(95, 95, 105);
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1rem 0;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.tempo {
  @include flex(flex, column, center, center);
  width: 60%;
  p {
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 540px) {
  .tempo {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .tempo {
    width: 20%;
  }
}
@media (min-width: 1600px) {
  .tempo {
    padding-bottom: 10rem;
  }
}
.tempo-slider {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  background-color: rgb(182, 182, 199);
  // padding: 0.1rem;
  margin: 1rem 0;
}
