@mixin flex($flex, $direction, $justify, $align) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
i,
svg {
  pointer-events: none;
}
body {
  font-size: 10px;
  font-family: "Raleway", sans-serif;
  @include flex(flex, column, space-around, center);
}
header {
  flex: 1 1 30%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
  background-color: rgb(49, 49, 49);
}
main {
  flex: 3 1 60%;
  @include flex(flex, column, center, center);
}
footer {
  flex: 1 1 15%;
  width: 100%;
  min-height: 10vh;
  font-size: 1rem;
  color: white;
  background-color: rgb(49, 49, 49);
  margin-top: 2rem;
  @include flex(flex, row, center, center);
  div {
    @include flex(flex, row, center, center);
  }
}
#logo {
  font-size: 1.6rem;
  text-align: center;
  margin: 1rem 0;
  color: white;
}
.sequencer {
  width: 90%;
  margin: auto;
  @include flex(flex, column, stretch, center);
}

.kick-track,
.snare-track,
.hihat-track {
  @include flex(flex, column, center, center);
}

.pad {
  width: 3rem;
  height: 3rem;
  margin: 0.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.kick-pad {
  background-color: #afffc0;
  &.active {
    background-color: #53cc6e;
  }
}

.snare-pad {
  background-color: #bde0fe;
  &.active {
    background-color: #5eb3fd;
  }
}

.hihat-pad {
  background-color: #cdb4db;
  &.active {
    background-color: #a375bd;
  }
}

.kick,
.snare,
.hihat {
  @include flex(flex, row, space-between, center);
  flex-wrap: wrap;
  width: 80%;
}

.controls {
  @include flex(flex, column, center, center);
  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
  }
  .fa-volume-mute,
  .fa-volume-up {
    font-size: 1rem;
    color: white;
  }
  button {
    padding: 0.5rem;
    border: none;
    background-color: rgb(95, 95, 105);
    cursor: pointer;
    transition: all 0.5s ease;
    margin-right: 1rem;
  }
  select {
    width: 70%;
    height: 2rem;
    font-family: "Raleway", sans-serif;
  }
}

.controls-wrapper {
  @include flex(flex, row, space-between, center);
  margin: 0.5rem 0;
}
.play {
  border: none;
  width: 5rem;
  height: 2rem;
  color: white;
  background-color: rgb(95, 95, 105);
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1rem 0;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.tempo {
  @include flex(flex, column, center, center);
  width: 60%;
  p {
    font-size: 1rem;
    text-align: center;
  }
}
.tempo-slider {
  -webkit-appearance: none;
  cursor: pointer;
  width: 100%;
  background-color: rgb(182, 182, 199);
  // padding: 0.1rem;
  margin: 1rem 0;
}
